accelerate==0.33.0
aiobotocore==2.25.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aioitertools==0.12.0
aiosignal==1.4.0
anndata==0.10.9
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.12.1
array_api_compat==1.11.2
asciitree==0.3.3
ase==3.26.0
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1733250440834/work
async-timeout==5.0.1
attrs==25.4.0
Authlib==1.6.10
awscli==1.44.79
bcbio-gff==0.7.1
beautifulsoup4==4.14.2
biopython==1.85
bleach==6.2.0
blessed==1.25.0
blis==1.0.2
botocore==1.42.89
cachetools==6.2.1
catalogue==2.0.10
cellxgene-census==1.15.0
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
click==8.1.8
cloudpickle==3.1.2
colorama==0.4.6
comm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_comm_1753453984/work
confection==0.1.5
ConfigArgParse==1.7.5
contourpy==1.3.0
cramjam==2.11.0
cryptography==46.0.7
cycler==0.12.1
cymem==2.0.13
dask==2024.8.0
dask-expr==1.1.10
dataclasses==0.6
datamol==0.12.5
datasets==2.19.2
debugpy @ file:///home/task_175706710612866/conda-bld/debugpy_1757067121768/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
defusedxml==0.7.1
dgl==2.1.0
dill==0.3.8
distro==1.9.0
docutils==0.19
e3nn==0.4.4
et_xmlfile==2.0.0
eval_type_backport==0.2.2
evaluate==0.4.2
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1746947292760/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1745502089858/work
fair-esm==2.0.0
fasteners==0.20
fastjsonschema==2.21.2
fastparquet==2024.11.0
filelock==3.19.1
fonttools==4.60.1
frozenlist==1.8.0
fsspec==2025.10.0
fuzzywuzzy==0.18.0
gcsfs==2025.10.0
get-annotations==0.1.2
gget==0.29.3
gitdb==4.0.12
GitPython==3.1.45
google-api-core==2.28.1
google-auth==2.41.1
google-auth-oauthlib==1.2.3
google-cloud-core==2.5.0
google-cloud-storage==3.4.1
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.71.0
gpustat==1.1.1
-e git+https://github.com/seonghyun26/graphium.git@6e20a358d56555dcf9c42d2ef6238fcdae9bd8ea#egg=graphium
h11==0.16.0
h5py==3.14.0
hf-xet==1.2.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.36.0
hydra-core==1.3.2
idna==3.11
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1747934053/work
importlib_resources==6.5.2
iniconfig==2.1.0
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1754352855579/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1701831663892/work
ipywidgets==8.1.8
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2==3.1.6
jiter==0.14.0
jmespath==1.0.1
joblib==1.5.2
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1733440914442/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1748333051527/work
jupyterlab_pygments==0.3.0
jupyterlab_widgets==3.0.16
kiwisolver==1.4.7
legacy-api-wrap==1.5
lightning==2.5.5
lightning-utilities==0.15.2
littleutils==0.2.4
llvmlite==0.43.0
lmdb==2.1.1
locket==1.0.0
loguru==0.7.3
lxml==6.0.2
MACE==1.1.2
mace-torch==0.3.15
markdown-it-py==3.0.0
MarkupSafe==3.0.3
matplotlib==3.9.4
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1733416936468/work
matscipy==1.2.0
mdurl==0.1.2
minimol==1.3.5
mistune==3.2.0
mpmath==1.3.0
multidict==6.7.0
multiprocess==0.70.16
mup==1.0.0
murmurhash==1.0.15
mysql-connector-python==9.4.0
natsort==8.4.0
nbclient==0.10.2
nbconvert==7.17.0
nbformat==5.10.4
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
networkx==3.2.1
numba==0.60.0
numcodecs==0.12.1
numpy==1.26.4
nvidia-cublas-cu12==12.8.3.14
nvidia-cuda-cupti-cu12==12.8.57
nvidia-cuda-nvrtc-cu12==12.8.61
nvidia-cuda-runtime-cu12==12.8.57
nvidia-cudnn-cu12==9.7.1.26
nvidia-cufft-cu12==11.3.3.41
nvidia-cufile-cu12==1.13.0.11
nvidia-curand-cu12==10.3.9.55
nvidia-cusolver-cu12==11.7.2.55
nvidia-cusparse-cu12==12.5.7.53
nvidia-cusparselt-cu12==0.6.3
nvidia-ml-py==13.590.44
nvidia-nccl-cu12==2.26.2
nvidia-nvjitlink-cu12==12.8.61
nvidia-nvtx-cu12==12.8.55
oauthlib==3.3.1
ogb==1.3.6
omegaconf==2.3.0
openai==2.32.0
openpyxl==3.1.5
opt-einsum-fx==0.1.4
opt_einsum==3.4.0
orjson==3.11.5
outdated==0.2.2
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas==2.1.4
pandocfilters==1.5.1
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1733271261340/work
partd==1.4.2
patsy==1.0.2
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1733301927746/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow @ file:///croot/pillow_1752524526621/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1746710438/work
pluggy==1.6.0
polaris-lib==0.2.0
preshed==3.0.13
prettytable==3.16.0
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1744724089886/work
propcache==0.4.1
proto-plus==1.26.1
protobuf==6.33.0
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1653089170447/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1733302279685/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=92c32ff62b5fd8cf325bec5ab90d7be3d2a8ca8c8a3813ff487a8d2002630d1f
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
pyarrow==21.0.0
pyarrow-hotfix==0.7
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
pydantic==2.12.3
pydantic-settings==2.11.0
pydantic_core==2.41.4
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1750615794071/work
PyMuPDF==1.26.5
pynndescent==0.5.13
pyparsing==3.2.5
pypdf==6.10.0
pytdc==1.1.15
pytest==8.4.2
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-dotenv==1.2.1
python_hostlist==2.3.0
pytorch-lightning==2.5.5
pytz==2025.2
PyYAML==6.0.3
pyzmq @ file:///home/task_175810350423983/conda-bld/pyzmq_1758103934837/work
rdkit==2023.9.6
referencing==0.36.2
regex==2025.11.3
requests==2.32.5
requests-oauthlib==2.0.0
rich==14.2.0
rpds-py==0.27.1
rsa==4.7.2
s3fs==2025.10.0
s3transfer==0.16.0
safetensors==0.6.2
scanpy==1.10.3
scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.13.2
selfies==2.2.0
sentry-sdk==2.43.0
session_info==1.0.1
shellingham==1.5.4
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
smmap==5.0.2
sniffio==1.3.1
somacore==1.0.11
soupsieve==2.8
srsly==2.5.3
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
statsmodels==0.14.5
stdlib-list==0.12.0
swifter==1.4.0
sympy==1.14.0
tenacity==9.1.2
thinc==9.1.1
threadpoolctl==3.6.0
tiledb==0.29.1
tiledbsoma==1.11.4
tinycss2==1.4.0
tokenizers==0.21.4
tomli==2.4.0
toolz==1.1.0
torch==2.7.0+cu128
torch-ema==0.3
torch-geometric==2.6.1
torch_cluster==1.6.3+pt27cu128
torch_scatter==2.1.2+pt27cu128
torch_sparse==0.6.18+pt27cu128
torch_spline_conv==1.2.2+pt27cu128
torchaudio==2.7.0+cu128
torchdata==0.11.0
torchmetrics==0.10.3
torchvision==0.22.0+cu128
tornado @ file:///croot/tornado_1748956929273/work
tqdm==4.67.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
transformers==4.50.3
triton==3.3.0
typer==0.20.0
typing-inspection==0.4.2
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1751643513/work
tzdata==2025.2
umap-learn==0.5.9.post2
urllib3==1.26.20
wandb==0.22.3
wasabi==1.1.3
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1733231326287/work
webencodings==0.5.1
widgetsnbextension==4.0.15
wrapt==1.17.3
xxhash==3.6.0
yarl==1.22.0
zarr==2.18.2
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1749421620841/work
